.archive {
  position: relative;
  width: 100vw;
  height: 100%;
  --background: #182a2a;
  --foreground: #fbf6c1;
  --foreground-tertiary: #c4b59c;
  background-color: var(--background, #182a2a);
  color: var(--foreground, #fbf6c1);
}

.archive img {
  border-radius: 0.5rem;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 4em;
  background-color: var(--background, #182a2a);
}

.hero {
  position: relative;
  width: 100%;
  padding-top: 8em;
  background-color: var(--background, #182a2a);
  z-index: 2;
}

.heroTitle {
  text-transform: uppercase;
  font-family: "Nippo", "Suisse Intl", sans-serif;
  font-weight: 400;
  font-size: 5.5rem;
  line-height: 92%;
  letter-spacing: -0.2rem;
  color: var(--foreground, #fbf6c1);
  max-width: 90%;
}

.heroImageWrapper {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.heroImageRow {
  display: flex;
  justify-content: space-between;
}

.heroImageRow p {
  font-size: 2rem;
}

.heroImage {
  width: 100%;
  height: 400px;
  clip-path: polygon(
    0 0,
    96% 0,
    100% 14%,
    100% 100%,
    70% 100%,
    2% 100%,
    0 92%,
    0% 30%
  );
  border-radius: 2rem;
}

.stickyArchive {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1em;
  background-color: var(--background, #182a2a);
  z-index: 1;
}

.archiveCol {
  position: relative;
  flex: 1;
  width: 50%;
}

.source {
  height: 100vh;
  will-change: transform;
  transform: translateZ(0);
  backface-visibility: hidden;
}

.sourceContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 4em;
  background-color: var(--background, #182a2a);
}

.sourceImage {
  width: 100%;
  flex: 1;
  min-height: 0;
  margin-bottom: 1rem;
}

.sourceContent {
  margin-top: 2rem;
}

.sourceContent p {
  margin-bottom: 0.5rem;
}

.sourceTitle {
  text-transform: none;
  font-family: "Nippo", "Suisse Intl", sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  letter-spacing: -0.05rem;
}

.gallery {
  height: 175vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--background, #182a2a);
}

.galleryContainer {
  padding: 4em;
  padding-left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--background, #182a2a);
}

.galleryCopy {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.primary {
  text-transform: uppercase;
  font-family: "NeueBit", "Nippo", sans-serif;
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 100%;
  color: var(--foreground, #fbf6c1);
}

.prompt {
  text-transform: none;
}

.secondary {
  margin: 2rem 0 0.5rem 0;
  text-transform: uppercase;
  font-family: "NeueBit", "Nippo", sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
}

.galleryTitle {
  text-transform: none;
  font-family: "Nippo", "Suisse Intl", sans-serif;
  font-weight: 400;
  font-size: 1.75rem;
  letter-spacing: -0.05rem;
}

.galleryImages {
  padding-top: 4rem;
  width: 100%;
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 4rem;
}

.mainImage {
  flex: 1;
  min-height: 0;
}

.subImages {
  display: flex;
  gap: 2em;
}

.subImageCol {
  height: 300px;
  flex: 1;
}

.stickyArchive :global(.pin-spacer) {
  flex-basis: 50% !important;
  width: 50% !important;
  margin: 0 !important;
  padding: 0 !important;
}

.nextArchive {
  position: relative;
  width: 100vw;
  overflow-x: hidden;
  gap: 1em;
  background-color: var(--background, #182a2a);
  z-index: 2;
}

.nextArchiveBg {
  position: absolute;
  inset: 0;
  background-color: #173937;
  clip-path: polygon(
    5% 0,
    94% 0,
    100% 15%,
    100% 85%,
    95% 100%,
    5% 100%,
    0 85%,
    0 15%
  );
}

.marqueeArchive {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.25;
}

.nextContainer {
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: transparent;
  gap: 1em;
}

.nextArchiveImage {
  width: 35%;
  height: 300px;
  clip-path: polygon(
    0 0,
    90% 0,
    100% 15%,
    100% 80%,
    100% 100%,
    5% 100%,
    0 90%,
    0% 20%
  );
}

.nextArchiveTitle {
  width: 50%;
  font-size: 4rem;
  text-transform: none;
  letter-spacing: -0.15rem;
}

@media (max-width: 900px) {
  .stickyArchive {
    flex-direction: column;
  }

  .archiveCol {
    width: 100%;
  }

  .galleryContainer {
    padding: 4em;
    padding-left: 2em;
  }

  .heroImage,
  .sourceImage {
    clip-path: polygon(
      0 0,
      92% 0,
      100% 12%,
      100% 100%,
      70% 100%,
      6% 100%,
      0 92%,
      0% 20%
    );
  }

  .heroTitle {
    font-size: 3rem;
    letter-spacing: -0.1rem;
    max-width: 100%;
  }

  .galleryImages {
    gap: 2em;
  }

  .nextArchiveBg {
    clip-path: polygon(
      5% 0,
      95% 0,
      100% 5%,
      100% 95%,
      95% 100%,
      5% 100%,
      0 95%,
      0 5%
    );
  }

  .nextArchiveImage {
    width: 90%;
  }

  .nextArchiveTitle {
    width: 80%;
  }
}
